<div class="card-link">
  <h1>Stupid Coaching</h1>
</div>

<br>


<div class="card-question">
  <div class="card-product-infos">
    <h2><%= @question %></h2>
    <p>- You</p>
  </div>
</div>

<div class="card-answer">
  <div class="card-product-infos">
    <h2><%= @coach_answer %></h2>
    <p> - Your coach</p>
  </div>
</div>

<div class="card-link">
  <%= link_to "Ask another question", ask_path %>
</div>
