<div>
  <h1>Stupid Coaching</h1>
<div/>


<div class="card-link">
  <form action="answer">
    <input type="text" name="ask" placeholder="Ask your coach anaything...">
    <input class="button" type="submit" value="Ask!">
  </form>
<div/>
